{{ define "main" }}
  <div class="padding highlightable">
    {{ partial "topbar.html" . }}
    <div id="body-inner">
      {{ $singleImage := eq (len .Pages) 1 }}
      {{ if  $singleImage }}
        {{ template "single-image" (index .Pages 0) }}
      {{ else }}
        {{ template "multi-image" . }}
      {{ end }}
    </div>
    {{ if not $singleImage }}
      <div id="navigation">
        {{with (index .Pages (add (len .Pages) -1))}}
          <a class="nav nav-prev" href="{{.Permalink}}" title="{{.Title}}"> <i class="fa fa-chevron-left"></i></a>
        {{end}}
        {{with (index .Pages 0) }}
          <a class="nav nav-next" href="{{.Permalink}}" title="{{.Title}}"><i class="fa fa-chevron-right"></i></a>
        {{end}}
      </div>
    {{ end }}
  </div>
{{ end }}

{{ define "single-image" }}
      <h1>{{.Parent.Title}}</h1>
      {{ .Parent.Content }}
      <h2>{{.Title}}</h2>
      <figure class="bilderpool-image">
      <img src="{{.Permalink}}{{.Params.picture}}">
        {{/*<img src="{{ .Params.picture }}">*/}}
        <figcaption>
          <small>
            {{ partial "figure-caption" . }}
          </small>
        </figcaption>
      </figure>
      {{ partial "keywords.html" . }}
      {{ .Content }}
      {{ partial "custom-comments.html" . }}
{{ end }}

{{ define "multi-image" }}
      <h1>{{.Title}}</h1>
      {{ .Content }}

      {{ range .Pages }}
        {{ partial "bilderpool-thumbnail" . }}
      {{ end }}
{{ end }}

{{ define "konstukteure-link" }}
{{ end }}
