{{ define "main" }}
  <div class="padding highlightable">
    {{ partial "topbar.html" . }}
    <div id="body-inner">
       <h1>{{.Title}}</h1>
      <figure class="bilderpool-image">
        <img src="{{- .Page.Params.Picture -}}">
        <figcaption>
            <small>
            {{ partial "figure-caption" . }}
            </small>
        </figcaption>
      </figure>
      {{ partial "keywords.html" . }}

    
      {{ .Content }}
      {{ partial "custom-comments.html" . }}
    </div>

    {{if or .PrevInSection .NextInSection}}
    <div id="navigation">
      {{with .NextInSection | default .Parent}}
        <a class="nav nav-prev" href="{{.Permalink}}" title="{{.Title}}"> <i class="fa fa-chevron-left"></i></a>
      {{end}}
      {{with .PrevInSection | default .Parent}}
        <a class="nav nav-next" href="{{.Permalink}}" title="{{.Title}}"><i class="fa fa-chevron-right"></i></a>
      {{end}}
    </div>
    {{ end }}

  </div>
{{ end }}
  
