{{ define "main" }}
  {{ $max_images := 4 }}
  
  <div class="padding highlightable">
    {{ partial "topbar.html" . }}

    <div id="body-inner">
      <h1>{{.Title}}</h1>

      {{ .Content }}
       
      {{ range .Sections }}
        {{ if eq .Layout "image-collection" }}
          <h2 id="{{ .Title | urlize }}"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          <p>{{ .Summary }}</p>
          <div class="bilderpool-gallery">
            {{ range first $max_images .Pages.ByDate }}
              {{ partial "bilderpool-thumbnail" . }}
            {{ end }}
          </div>
        {{ else }}
            <h2 id="{{ .Title | urlize }}"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            <p>{{ .Summary }}</p>
            <div class="bilderpool-gallery">
            {{ $currentDir := .File.Dir }}
            {{ $keys := slice }}
            {{ if lt (len $keys) $max_images}}
                {{ range where .Site.RegularPages.ByDate.Reverse "Section" "bilderpool" }}
                    {{ if hasPrefix .File.Dir $currentDir }}
                        {{ if not ( $.Scratch.Get .Parent.File.Dir) }}
                            {{ $keys = $keys | append .Parent.File.Dir }}
                            {{ $.Scratch.Set .Parent.File.Dir . }}
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
            {{ range first $max_images $keys }}
                {{ $i := $.Scratch.Get . }}
                {{ partial "bilderpool-thumbnail" $i }}
            {{ end }}
            </div>
        {{ end }}
      {{ end }}

    </div> 
  </div>
{{ end }}

