{{ define "main" }}
  <div class="padding highlightable">
    {{ partial "topbar.html" . }}

    <div id="body-inner">
      <h1>{{.Title}}</h1>
      
      <h2>Bilder</h2>
      <div class="bilderpool-gallery">
        {{ range where .Pages.ByDate.Reverse "Section" "bilderpool" }}
          {{ with . }}
              {{ $seen := .Scratch.Get .Path }}
              {{ if not $seen }}
                {{ .Scratch.Set .Path true }}
                {{ $image := index .Pages 0 }}
                 {{ partial "bilderpool-thumbnail-generic" (dict "link" .RelPermalink "image" (printf "%s%s" .RelPermalink "thumbnail.jpg") "caption" .Title) }}
              {{ end }}
          {{ end }}
        {{ end }}
      </div>
 
    </div> 
  </div>
{{ end }}

