{{ define "main" }}
  <div class="padding highlightable">
    {{ partial "topbar.html" . }}

    {{ if .Params.chapter }}<div id="chapter">{{ end }}
      <div id="body-inner">
        {{if (not .Params.chapter) }}
          <h1>{{.Title}}</h1>
        {{end}}

        {{ .Content }}
        <footer class=" footline" >
        {{with .Params.LastModifierDisplayName}}
          <i class='fas fa-user'></i>
          <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> 
          {{with $.Date}}
            <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}
          {{end}}
	{{end}}
        </footer>

      </div> 
    {{ if .Params.chapter }}</div>{{ end }}
    {{ partial "custom-comments.html" . }}
  </div>
{{ end }}
