{{/* Bei jeglichen Änderungen die Doku unter /content/techdoc/know-how.md nachpflegen! */}}
{{/* In case of changes update the documentation at /content/techdoc/know-how.md */}}

{{ define "main" }}

   {{ $date_format_string := "2.1.2006" }}

   {{ $wir_email := "vorstand@ftcommunity.de" }}


   {{/* --- Überprüfe ob die Pflichtangaben alle vorhanden sind --- */}}
   {{/* --- Check all mandatory field entries are available --- */}}

   {{ if not .Params.title }}
      {{ errorf "Oh oh, der Seitentitel 'title' fehlt oder ist leer in Seite %q" .Path }}
   {{ end }}

   {{ $uploadDate := .Params.date }}
   {{ if not $uploadDate }}
      {{ errorf "Oh oh, das Hochladedatum 'date' fehlt oder ist leer in Seite %q" .Path }}
   {{ end }}

   {{ $uploader := .Params.uploadBy }}
   {{ if not $uploader }}
      {{ errorf "Oh oh, der Nutzername 'uploadBy' fehlt oder ist leer in Seite %q" .Path }}
   {{ end }}

   {{ $uploaderCount := 0 }}
   {{ $uploaderCount = len $uploader }}
   {{ if gt $uploaderCount 1 }}
      {{ errorf "Oh oh, zu viele 'uploadBy' in Seite %q. Nur ein Nutzername erlaubt!" .Path }}
   {{ end }}

   {{ if .Params.imported }}
      {{ if not .Params.legacy_id }}
         {{ errorf "'legacy_id' fehlt für Seite %q. Wenn der Eintrag importiert wurde, muss auch eine Legacy-ID vorhanden sein!" .Path }}
      {{ end }}
   {{ end }}


   {{/* --- Lies ein was sonst noch benötigt wird --- */}}
   {{/* --- Read additional data --- */}}

   {{ $authorsCount := 0 }}
   {{ $authors := .Params.konstrukteure }}
   {{ if $authors }}
      {{ $authorsCount = len $authors }}
   {{ end }}


   {{/* --- Spezialbehandlung für Altlasten aus den Anfängen der ftc --- */}}
   {{/* --- Special handling of legacy ftc problem sites --- */}}

   {{ if eq $uploader (slice "-LegacyAdmin-") }}
      {{ $uploaderCount = 0 }}
   {{ end }}

   {{ if eq $authors (slice "-?-") }}
      {{ $authorsCount = 0 }}
   {{ end }}


   {{/* --- Vorgeplänkel --- */}}
   {{/* --- Prologue --- */}}

   {{ $email_subject := "Da stimmt was nicht!" }}
   {{ $scratch := newScratch }}
   {{ printf "Hallo ihr Lieben,\n\n" | $scratch.Set "email_body" }}
   {{ printf "ich möchte Euch auf ein Problem mit der ftc-Seite hinweisen:\n" | $scratch.Add "email_body" }}
   {{ printf "%s%s%s/\n" (.Site.BaseURL) (replace .File.Dir "\\" "/") (lower .File) | $scratch.Add "email_body" }}
   {{/* printf "%s\n" (path.Join .File.Dir $fname) | $scratch.Add "email_body" */}}
   {{/* printf "%s\n" .Path | $scratch.Add "email_body" */}}
   {{/* printf "(Bitte diese Referenzen nicht löschen!)\n" | $scratch.Add "email_body" */}}
   {{ printf "\n<Problembeschreibung>" | $scratch.Add "email_body" }}


   {{/* --- HTML-Seite zusammenbauen --- */}}
   {{/* --- Assemble the HTML site --- */}}

   <div class="padding highlightable">
      {{ partial "topbar.html" . }}

      <div id="body-inner">
         <h2>{{.Title}}</h2>

         <p>
            {{ .Content }}
         </p>

         <p>
            <small>
               <br />
               {{- if gt $authorsCount 0 -}}
                  Erstellt
                  {{- if eq $authors $uploader }}
                     und hochgeladen
                  {{- end }}
                  von
                  {{ range $index, $name := $authors -}}
                     {{- if and (gt $index 0) (sub $authorsCount 1 | lt $index) -}}
                        ,
                     {{- else if gt $index 0 }}
                        und
                     {{- end }}
                     {{ if eq $authors $uploader -}}
                        <a href = "{{ $.Site.BaseURL }}konstrukteure/{{ $name|urlize }}">{{ $name }}</a>
                     {{- else -}}
                        {{ $name -}}
                     {{- end -}}
                  {{- end -}}
                  .
               {{- else -}}
                  Leider ist kein Autor angegeben.
               {{- end -}}
               <br />
               Hochgeladen
               {{  if eq $uploaderCount 1 -}}
                  {{ if not (eq $authors $uploader) -}}
                     von
                     <a href = "{{ $.Site.BaseURL -}} uploadBy/ {{- delimit $uploader ", " | urlize -}}">{{- delimit $uploader ", " -}}</a>
                  {{ end -}}
               {{  end -}}
               am
               {{ dateFormat $date_format_string $uploadDate -}}
               .
            </small>
         </p>

         <p>
            <small>
               <b>Hinweis:</b>
               Wir vertrauen auf die Sachkunde und Sorgfalt unserer Nutzer.
               Trotzdem könnten sich Fehler eingeschlichen haben.
               Eine Haftung für die Richtigkeit der Inhalte können wir nicht
               übernehmen.
               Falls Du einen Fehler findest, kontaktiere bitte
               {{  if ne $authors $uploader -}}
                  {{- if gt $authorsCount 1 -}}
                     einen der Autoren
                  {{- else if gt $authorsCount 0 -}}
                     den Autor
                  {{- end -}}
                  {{- if and (gt $authorsCount 0) (gt $uploaderCount 0) -}}
                     ,
                  {{  end -}}
               {{- end -}}
               {{  if eq $uploaderCount 1 -}}
                  <a href="{{ $.Site.BaseURL }}uploadBy/{{delimit $uploader ", "|urlize}}">{{delimit $uploader ", "}}</a>
               {{- end }}
               {{  if or (gt $authorsCount 0) (gt $uploaderCount 0) -}}
                  oder
               {{  end -}}
               <a href="mailto:{{$wir_email}}?subject={{$email_subject}}&body={{$scratch.Get "email_body"}}">uns</a>.
            </small>
         </p>

         <footer class=" footline" >
            {{with .Params.LastModifierDisplayName}}
               <i class='fas fa-user'></i>
               <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> 
               {{with $.Date}}
                  <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}
               {{end}}
            {{end}}
         </footer>
      </div>

      <div id="navigation">
         {{with .NextInSection | default .Parent}}
            <a class="nav nav-prev" href="{{.Permalink}}" title="{{.Title}}"><i class="fa fa-chevron-left"></i></a>
         {{end}}
         {{with .PrevInSection | default .Parent}}
            <a class="nav nav-next" href="{{.Permalink}}" title="{{.Title}}"><i class="fa fa-chevron-right"></i></a>
         {{end}}
      </div>
      {{ partial "custom-comments.html" . }}
   </div>

{{ end }}
