 
{{ if eq .Params.konstrukteure (slice "-?-") }}
  {{ if eq .Params.fotografen (slice "-?-") }}
    Leider sind Konstrukteur und Fotograf nicht angegeben.
  {{ else }}
   Leider ist kein Konstrukteur angegeben.
  {{ end }}
{{ else }}
   Konstruiert {{ if eq .Params.konstrukteure .Params.fotografen }}und fotografiert{{ end }}
   von {{range $index, $name := .Params.konstrukteure }}
   {{- if gt $index 0}}, {{ end -}}
    <a href="{{ $.Site.BaseURL }}konstrukteure/{{ $name | urlize}}">{{ $name -}}</a>.
   {{ end -}}
{{ end }}
{{ if not (eq .Params.konstrukteure .Params.fotografen) }}
   {{ if eq .Params.fotografen (slice "-?-") }}
    Leider ist kein Fotograf angegeben.
   {{ else }}
   Fotografiert von {{ delimit .Params.fotografen ", " }}.
   {{ end }}
{{ end }}
<i>{{- dateFormat "2.1.2006 15:04" .Page.Params.date }} ({{- .Page.Params.uploadBy -}})</i>
