    {{ $keywords := .Params.keywords }}
    {{ if $keywords }}
          {{ if not (in $keywords "OPTIONAL") }}
       <p><b>Schlagworte:</b> {{ delimit $keywords ", "}}</p>
        {{ end }}
    {{ end }}
