{{ $date_format_string := "02.01.2006" }}

<nav id="sidebar" class="{{if $.Site.Params.showVisitedLinks }}showVisitedLinks{{end}}">

{{ $currentNode := . }}
{{ $showvisitedlinks := .Site.Params.showVisitedLinks }}
  <div id="header-wrapper">
    <div id="header">
      {{ partial "logo.html" . }}
    </div>
    {{if not .Site.Params.disableSearch}}
        {{ partial "search.html" . }}
    {{end}}
  </div>

    <div class="highlightable">
    <ul class="topics">

        {{if eq .Site.Params.ordersectionsby "title"}}  
          {{range .Site.Home.Sections.ByTitle}}
          {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks "sortorder" .Site.Params.ordersectionsby}}
          {{end}}
        {{else}}
          {{range .Site.Home.Sections.ByWeight}}
          {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks "sortorder" .Site.Params.ordersectionsby}}
          {{end}}
        {{end}} 
    </ul>

    {{ $disableShortcutsTitle := .Site.Params.DisableShortcutsTitle}}
    {{with .Site.Menus.shortcuts}}
      <section id="shortcuts">
        <h3>{{ if not $disableShortcutsTitle}}{{ T "Shortcuts-Title"}}{{ end }}</h3>
        <ul>
          {{ range sort . "Weight"}}
              <li> 
                  {{.Pre}}<a class="padding" href="{{.URL | absLangURL }}">{{safeHTML .Name}}</a>{{.Post}}
              </li>
          {{end}}
        </ul>
      </section>
    {{end}}

   <hr style="color: Gray; border-color: Gray; border-width: 1px;">
   {{ $ftpSectionAll := where .Site.Pages "Section" "ftpedia" }}
   {{ $ftpSections := where $ftpSectionAll "Kind" "section" }}
   {{ $ftpIssues := where $ftpSections ".Params.date" "!=" nil }}
   {{ range first 1 $ftpIssues.ByDate.Reverse }}
      <figure style="margin-left: 16px; width: max-content; text-align: center;">
         <a href="{{- .Permalink -}} {{- .Params.file -}}">
            <img
               src ="{{- .Permalink -}} titelseite.png"
               alt = "Aktuelle Ausgabe"
            >
         </a>
         <br/>
         <a href="{{ .Permalink }}{{ .Params.file }}">
            <small>
               ft:pedia {{ .Title }}
               {{ if .Params.file }} ist da!
               {{ else }} <br/> erscheint am <br/> {{dateFormat $date_format_string .Params.publ}}
               {{ end }}
            </small>
         </a>
      </figure>
   {{ end }}
   {{/*
      Jede ft:pedia (und nur die, egal ob Heft oder Teaser) hat die
      Eigenschaft `Kind == section` und `.Params.date != nil`.
      Alle anderen Knoten haben andere Eigenschaften (entweder anderes `Kind`
      oder kein `.Params.date`). Hurra!
   */}}
    {{ if or .Site.IsMultiLingual $showvisitedlinks }}
    <section id="prefooter">
      <hr/>
      <ul>
      {{ if and .Site.IsMultiLingual (not .Site.Params.DisableLanguageSwitchingButton)}}
        <li>
          <a class="padding">
            <i class="fas fa-language fa-fw"></i>
          <div class="select-style">
            <select id="select-language" onchange="location = this.value;">
          {{ $siteLanguages := .Site.Languages}}
          {{ $pageLang := .Page.Lang}}
          {{ range .Page.AllTranslations }}
              {{ $translation := .}}
              {{ range $siteLanguages }}
                  {{ if eq $translation.Lang .Lang }}
                    {{ $selected := false }}
                    {{ if eq $pageLang .Lang}}
                      <option id="{{ $translation.Language }}" value="{{ $translation.URL }}" selected>{{ .LanguageName }}</option>
                    {{ else }}
                      <option id="{{ $translation.Language }}" value="{{ $translation.URL }}">{{ .LanguageName }}</option>
                    {{ end }}
                  {{ end }}
              {{ end }}
          {{ end }}
        </select>
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="255px" height="255px" viewBox="0 0 255 255" style="enable-background:new 0 0 255 255;" xml:space="preserve">
          <g>
            <g id="arrow-drop-down">
              <polygon points="0,63.75 127.5,191.25 255,63.75 		" />
            </g>
          </g>
        </svg>
        </div>
        </a>
        </li>
      {{end}}
      
      {{ if $showvisitedlinks}}
        <li><a class="padding" href="#" data-clear-history-toggle=""><i class="fas fa-history fa-fw"></i> {{T "Clear-History"}}</a></li>
      {{ end }}
      </ul>
    </section>
    {{ end }}
    <section id="footer">
      {{ partial "menu-footer.html" . }}
    </section>
  </div>
</nav>

<!-- templates -->
{{ define "section-tree-nav" }}
  {{ $showvisitedlinks := .showvisitedlinks }}
  {{ $currentNode := .currentnode }}
  {{ $sortOrder := .sect.Params.ordersectionsby | default .sortorder }}
  {{with .sect}}
    {{ $hidden := (or .Params.hidden (and (eq .Layout "image") (eq .Type "bilderpool"))) }}
    {{ if not $hidden }}
      {{if .IsSection}}
        {{ $currentNode.Scratch.Set "pages" .Pages }}
        {{ if .Sections}}
          {{ $currentNode.Scratch.Set "pages" (.Pages | union .Sections) }}
        {{end}}
        {{ $pages := ($currentNode.Scratch.Get "pages") }}
        {{ if eq $sortOrder "title" }}
          {{ $pages = $pages.ByTitle }}
        {{ else }}
          {{ $pages = $pages.ByWeight }}
        {{ end }}
        {{ if eq $currentNode.Section "bilderpool" }}
          {{ $pages = where $pages "Layout" "ne" "image" }}
        {{ else }}
          {{ $pages = where $pages "Params.hidden" "ne" true }}
        {{ end }}
        {{safeHTML .Params.head}}
        <li data-nav-id="{{.Permalink}}" title="{{.Title}}" class="dd-item 
            {{if .IsAncestor $currentNode }}parent{{end}}
            {{ if or (eq .File.UniqueID $currentNode.File.UniqueID) (and (.IsAncestor $currentNode) (eq (len $pages) 0))}}active{{end}}
            {{if .Params.alwaysopen}}parent{{end}}
            ">
          <a href="{{.RelPermalink}}">
              {{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}
              {{ if $showvisitedlinks}}
                <i class="fas read-icon"></i>
              {{ end }}
          </a>
          {{ $numberOfPages := (add (len .Pages) (len .Sections)) }}
          {{ if ne $numberOfPages 0 }}
            <ul>
              {{ range $pages }}
                {{ if and $hidden (not $.showhidden) }} 
                {{else}}
                {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks "sortorder" $sortOrder}}
                {{end}}
              {{ end }}
            </ul>
          {{ end }}        
        </li>
      {{else}}
        {{ if not $hidden }}
          <li data-nav-id="{{.Permalink}}" title="{{.Title}}" class="dd-item {{if eq .File.UniqueID $currentNode.File.UniqueID}}active{{end}}">
            <a href="{{ .RelPermalink}}">
             {{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}
             {{ if $showvisitedlinks}}<i class="fas fa-check read-icon"></i>{{end}}
            </a>
          </li>
        {{ end }}
      {{ end }}
    {{end}}
  {{ end }}
{{ end }}

