{{ define "main" }}
{{ $date_format_string := "02.01.2006" }}
  <div class="padding highlightable">
    {{ if .Params.chapter }}<div id="chapter">{{ end }}
      <div id="body-inner">
        <span id="sidebar-toggle-span">
          <a href="#" id="sidebar-toggle" data-sidebar-toggle="">
            <i class="fas fa-bars"></i> navigation
          </a>
        </span>

          {{.Site.Home.Content}}  
          <div>
            <div class="announcement">
            {{ $fansSections := where .Site.Pages "Section" "fans" }}
            {{ $events := where $fansSections ".Params.termin" "!=" nil }}
            {{ $futur := slice }}
            {{ range $events }}
                {{ if (time (.Params.termin)).After now }}
                    {{ $futur = $futur | append  . }}
                {{ end }}
            {{ end }}
            {{ if gt (len $futur) 0 }}
                {{ range first 1 ($futur.ByParam "termin") }}
                    <b>{{ dateFormat $date_format_string .Params.termin }}</b> <a href="{{- .Permalink -}} ">{{ .Title }}</a> {{ .Params.location }}
                    <img src ="fans/veranstaltungen/{{ .Params.flyer }}" width="432" alt="Flyer" >
                {{ end }}
            {{ end }}
            </div>
            <div class="announcement">
            {{ $imageSections := where .Site.Pages "Section" "bilderpool" }}
            {{ $images := where $imageSections ".Params.layout" "==" "image" }}
            {{ range first 1 ($images.ByParam "date").Reverse }}
                    <b>Neu im Bilderpool</b><p><a href="{{- .Permalink -}} ">{{ .Title }}</a></p>
                    <img src ="{{- .File.Dir -}}thumbnail.jpg" alt="Bild" >
            {{ end }}
            </div>
          <div>  

    {{ partial "custom-comments.html" . }}
  </div>
{{ end }}

