{{ define "main" }}


{{ if .Site.Params.debug }}
Kind:       {{.Kind}}<br/>
Section:    {{.Section}}<br/>
Sections:   {{.Sections}}<br/>
Pages:      {{.Pages}}<br/>
Date:       {{ dateFormat "02 Jan 2006 MST" .Date.Local }}<br/>
Time:       {{ dateFormat "15:04:05 MST" .Date.Local }}<br/>
Now:        {{ dateFormat "02 Jan 2006 15:04:05 MST" now }}<br/>
{{ end }}


    {{ $date_format_string := "02.01.2006" }}

   <div class="padding highlightable">
      {{ partial "topbar.html" . }}
      <div id="body-inner">

         {{ if .Params.date }}
{{/* -------------------------------------------------------------------- */}}
            {{/* Einzelausgabe */}}
            {{/* Single edition */}}

            {{/* --- Überprüfe ob die Pflichtangaben alle vorhanden sind --- */}}
            {{/* --- Check if all mandatory field entries are available --- */}}

            {{ if not .Title }}
               {{ errorf "Oh oh, der Seitentitel 'title' fehlt oder ist leer in Seite %q" .Path }}
            {{ end }}

            {{ if not .File }}
               {{ errorf "Oh oh, der Dateiname 'file' fehlt oder ist leer in Seite %q" .Path }}
            {{ end }}

            <h2>Ausgabe {{.Title}}</h2>

            <div style = "float:left; text-align: center; margin: 0.25em 1.5em 0 0;">
               <a
                  href = "{{.RelPermalink}}{{.Params.file}}">
                  <img
                     src = "{{- .RelPermalink -}} titelseite.png"
                     alt = "{{.RelPermalink}}{{.Params.file}}"
                     style = "display: block; max-width: 100%; margin: 0;"
                  >
               </a>
               <small style = "">
                  Erschienen am {{ .Date.Format $date_format_string }}
                  <br />
                  ( {{- partial "download-size.html" . -}} )
               </small>
            </div>

            {{ truncate 1500 .Content }} {{/* Das mit dem truncate ist mal testweise drin. Ebenso wie ein Editorial in der 2018-4 um einen langen Text zu haben. */}}

            <div style = "clear: left">
               <hr />
               {{ with .Pages }}
                  Wir haben ergänzende Downloads zu dieser Ausgabe:<br />
                  <br />
                  <table>
                     <thead>
                        <tr>
                           <th>Thema</th>
                           <th style = "text-align: center;"><i class="fas fa-download"></i></th>
                           <th>Autor(en)</th>
                        </tr>
                     </thead>
                     <tbody>
                        {{ range .ByTitle }}
                           <tr>
                              <td>
                                 <a
                                    href = "{{ .RelPermalink }}">
                                    {{ .Title }}
                                 </a>
                              </td>
                              <td style = "text-align: center;">
                                 <a href="{{ path.Dir .RelPermalink | path.Dir }}/{{ .Params.file }}">
                                    <img
                                       src = "{{ $.Site.BaseURL }}images/{{ partial "download-icon.html" . }}"
                                       alt = "{{ partial "download-icon.html" . }}"
                                       style = "display: block; width: 3em; margin: 0 auto 0 auto;"
                                    >
                                 </a>
                                 {{ partial "download-size.html" . }}
                              </td>
                              <td>
                                 {{ partial "authors-list.html" . }}
                              </td>
                           </tr>
                        {{end}}
                     </tbody>
                  </table>
               {{ else }}
                  Zu dieser Ausgabe gibt es keine begleitenden Downloads.
               {{ end }}
            </div>
         {{ else if .Layout }}
{{/* -------------------------------------------------------------------- */}}
            {{/* Alle Jahrgänge in der Übersicht */}}
            {{/* All editions, sorted by year */}}

            {{/* --- Überprüfe ob die Pflichtangaben alle vorhanden sind --- */}}
            {{/* --- Check if all mandatory field entries are available --- */}}

            {{ if not .Title }}
               {{ errorf "Oh oh, der Seitentitel 'title' fehlt oder ist leer in Seite %q" .Path }}
            {{ end }}

            <h2>{{.Title}}</h2>
            {{ .Content }}
            {{ range .Sections.ByTitle.Reverse }}
               <hr>
               <h4>
                  <a
                     class = "ftplink"
                     href = "{{.Title}}"
                     >
                     Jahrgang {{.Title}}
                  </a>
               </h4>
               {{ $accompanions := false }}
               {{range.Sections.ByTitle }}
                  <figure class="ftpedia-thumbnail">
                  {{ if eq .Params.layout "teaser" }}
                     {{.Title}}
                     <img src = "{{- .RelPermalink -}} titelseite.png" alt = "Titel">
                     <small>Ab {{ dateFormat $date_format_string .Params.publ }}</small>
                  {{ else }}
                     <a
                        class = "ftplink"
                        href = "{{.RelPermalink}}"
                     >
                        {{.Title}}
                     </a>
                     <a
                        href = "{{.RelPermalink}}{{.Params.file}}">
                        <img
                           src = "{{- .RelPermalink -}} titelseite.png"
                           alt = "{{.RelPermalink}}{{.Params.file}}"
                        >
                     </a>
                     <small>{{ .Date.Format $date_format_string }}</small>
                     {{ if gt .Pages 0 }}
                        {{ $accompanions = true }}
                     {{ end }}
                  {{ end }}
                  </figure>
               {{end}}
               {{ if $accompanions }}
                  <a href = "{{.Title}}">
                     <br />Es gibt begleitende Downloads zu einigen Ausgaben
                  </a>
               {{ end }}
               <br />
            {{end}}
         {{ else }}
{{/* -------------------------------------------------------------------- */}}
            {{/* Ein Jahrgang (Titelbilder als Download-Links) */}}
            {{/* One year's editions (frontpages as download-links) */}}

            {{ if not .Title }}
               {{ errorf "Oh oh, der Seitentitel 'title' fehlt oder ist leer in Seite %q" .Path }}
            {{ end }}

            <h2>{{.Title}}</h2>
            {{ $accompanions := false }}
            {{ with .Sections }}
               <br />
               {{ range .ByTitle }}

                  {{/* --- Überprüfe ob die Pflichtangaben alle vorhanden sind --- */}}
                  {{/* --- Check if all mandatory field entries are available --- */}}

                  {{ if not .Title }}
                     {{ errorf "Oh oh, der Seitentitel 'title' fehlt oder ist leer in Seite %q" .Path }}
                  {{ end }}

                  {{ if eq .Params.layout "file" }}
                     {{ if not .Params.file }}
                        {{ errorf "Oh oh, der Dateiname 'file' fehlt oder ist leer in Seite %q" .Path }}
                     {{ end }}
                  {{ end }}

                  {{ if not .Date }}
                     {{ errorf "Oh oh, das Hochladedatum 'date' fehlt oder ist leer in Seite %q" .Path }}
                  {{ end }}

                  <figure class="ftpedia-thumbnail">
                     {{ if eq .Params.layout "teaser" }}
                        {{.Title}}
                        <img src = "{{- .RelPermalink -}} titelseite.png">
                        <small>
                           Ab {{ dateFormat $date_format_string .Params.publ }}
                        </small>
                     {{ else }}
                        <a
                           class = "ftplink"
                           href = "{{.RelPermalink}}"
                           >
                           {{.Title}}
                        </a>
                        <a
                           href = "{{.RelPermalink}}{{.Params.file}}">
                           <img src = "{{- .RelPermalink -}} titelseite.png">
                        </a>
                        <small>
                           {{ .Date.Format $date_format_string }}
                        </small>
                        {{ if gt .Pages 0 }}
                           {{ $accompanions = true }}
                        {{ end }}
                     {{ end }}
                  </figure>
               {{ end }}
            {{ end }}
            <hr />
            {{ if $accompanions }}
               Zu einigen Artikeln sind ergänzende Downloads verfügbar:<br />
               <br />
               <table>
                  <thead>
                     <tr>
                        <th style = "text-align: center;">Ausgabe</th>
                        <th>Thema</th>
                        <th style = "text-align: center;"><i class="fas fa-download"></i></th>
                        <th>Autor(en)</th>
                     </tr>
                  </thead>
                  <tbody>
                     {{ range .Sections.ByTitle }}
                        {{ $edition := .Title }}
                        {{ range .Pages.ByTitle }}
                           <tr>
                              <td style = "text-align: center;">
                                 {{ $edition }}
                              </td>
                              <td>
                                 <a
                                    class = "ftplink"
                                    href = "{{ .RelPermalink }}"
                                    >
                                    {{ .Title }}
                                 </a>
                              </td>
                              <td style = "text-align: center;">
                                 <a href="{{ path.Dir .RelPermalink | path.Dir }}/{{ .Params.file }}">
                                    <img
                                       src = "{{ $.Site.BaseURL }}images/{{ partial "download-icon.html" . }}"
                                       alt = "{{ partial "download-icon.html" . }}"
                                       style = "display: block; width: 3em; margin: 0 auto 0 auto;"
                                    >
                                 </a>
                                 {{ partial "download-size.html" . }}
                              </td>
                              <td>
                                 {{ partial "authors-list.html" . }}
                              </td>
                           </tr>
                        {{end}}
                     {{end}}
                  </tbody>
               </table>
            {{ else }}
               Zu diesen Ausgaben gibt es keine begleitenden Downloads.
            {{ end }}
{{/* -------------------------------------------------------------------- */}}
         {{ end }}
      </div>
   </div>
   <div>
      <footer class=" footline" >
      </footer>
   </div>
{{ end }}
